{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}

    <h1><u>Epreuve E6</u></h1>

    <div class="container">
        <div class="row" style="text-align: center;display: flex;justify-content: center;flex-direction: row;">
            <div class="col-sm-2 m-1" style="">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/ppe1_accueil.png" alt="Card image cap">
                    <div class="card-body"><br>
                        <h5 class="card-title">PPE 1 - Site sur le judo / Les JO</h5><br>
                        <a href="#ppe1" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 m-1">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/accueil_ppe2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PPE 2 - Site de vente en ligne</h5>
                        <a href="#ppe2" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 m-1">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/accueil_ppe3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PPE 3 - Site de vente en ligne</h5>
                        <a href="#ppe3" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 m-1">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/csharp.png" alt="Card image cap"><br>
                    <div class="card-body">
                        <h5 class="card-title">PPE 4 - Client lourd C#</h5>
                        <a href="#ppe4csharp" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center; display: flex;justify-content: center;flex-direction: row;">
            <div class="col-sm-3 m-1" style="">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/kawaii2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Premier stage - Kawaii</h5>
                        <a href="#kawaii" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-1" style="position: relative; top: 42px;">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/logo_pyrescom.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Second stage - Pyrescom</h5>
                        <a href="#pyrescom" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p>
            <h2 id="ppe1">Projet Personnel Encadré n°1 :</h2>
            <u><strong>Contexte :</strong></u> La filiale développement web de GSB, GSB-Dev, a remporté l'appel d'offres
            du comité d'organisation des jeux olympiques de Paris 2024. Vous êtes chargés de réaliser des sites web pour la
            communication des différentes disciplines sportives.<br>
            Nous avons donc choisi le Judo comme discipline olympique sur laquelle porterait notre site.<br><br>
            <u><strong>La page d'accueil :</strong></u><br>
            L'utilisateur accède à une vidéo de présentation sur le Judo et à une courte <br>
            description de ce sport.<br>
            Nous avons placé des ancres sur toutes les pages du site, ce qui permet à l'utilisateur d'accéder<br>
            directement au haut/bas de la page, d'un simple clic.<br>
            De plus, le logo des Jeux Olympiques est présent en haut à gauche de chaque page.<br>
        </p>
        <img src="img/ppe1_accueil.png"><br><br>

        <p>
            <u><strong>La page "Règles" :</strong></u><br>
            Les différentes règles du Judo sont expliquées sur cette page. 1er extrait :
        </p>
        <img src="img/Règles_1.png"><br><br>
        <p>2nd extrait : nous pouvons constater que nous avons appris à faire une liste et à en modifier les puces :</p>
        <img src="img/Règles_2.png"><br><br>

        <p>
            <u><strong>La page "Champions" :</strong></u><br>
            Nous avons appris ici à intégrer des images à notre site internet, à les placer<br>
            et les redimensionner.
        </p>
        <img src="img/Champions.png"><br><br>

        <p>
            <u><strong>Un espace d'inscription :</strong></u><br>
            Pour coder ceci, nous avons utilisé du Php, et ce pour la toute première fois !
        </p>
        <img src="img/Inscription.png"><br><br>

        <p>
            <u><strong>Un espace de connexion :</strong></u><br>
            Enfin, après s'être inscit, l'utilisateur doit évidemment <br>
            avoir la possibilité de se connecter. <br>
            Nous avons par la même occasion appris à insérer un lien vers une autre page de notre site.
        </p>
        <img src="img/Connexion.png"><br><br>

        <p>
            <h2 id="ppe2">Projet Personnel Encadré n°2 :</h2>
            <u><strong>Contexte :</strong></u> La M2E accueille dans ses locaux une jeune SSII. Pour l'aider à démarrer, <br>
            elle vous a mis à disposition de cette entreprise pour développer le projet.<br>
            Nous avons choisi de développer un site de vente en ligne qui proposerait des produits dérivés.<br><br>
            La première version était le site vitrine et devait comporter les pages suivantes :<br><br>
            <u><strong>La page d'accueil :</strong></u><br>
            On peut y apercevoir la mascotte, Poulpi, qui accueille les clients avec <br>
            un message de bienvenue.<br>
            De plus, nous avons mis un carroussel avec des images annonçant des promotions.
        </p>
        <img src="img/accueil_ppe2.png"><br><br>

        <p>
        <u><strong>Le catalogue : (figurines)</strong></u><br>
            Il y a un système de notation des produits. Les clients peuvent sélectionner <br>
            les produits en fonction du prix et de la moyenne des notes laissées par les autres utilisateurs du site.<br>
        </p>
        <img src="img/catalogue.png"><br><br>

        <p>
            <u><strong>La page d'inscription :</strong></u><br>
        </p>
        <img src="img/inscription_ppe2.png"><br><br>

        <p>
            <u><strong>La page de connexion :</strong></u><br>
        </p>
        <img src="img/connexion_ppe2.png"><br><br>

        <p>
            <u><strong>Mode "connecté" :</strong></u><br>
            Lorsqu'on est connecté, nous avons alors accès à plus d'options (éditer le profil, voir ses commandes).<br>
            L'admin a les droits de modifier le catalogue et de consulter l'historique de toutes les commandes passées.<br>
        </p>
        <img src="img/connecté.png" style="width: 350px;"><br><br>

        La seconde version était le site commerce et devait comporter les pages suivantes :<br><br>

        <p>
            <u><strong>La page produit :</strong></u><br>
            Lorsqu'on clique sur un produit du catalogue, nous arrivons sur la fiche détaillée.<br>
            Diverses informations sont affichées (prix, quantité, disponibilité, description).<br>
            Nous avons appris à faire en sorte que le produit puisse avoir plusieurs photos.<br>
            En-dessous, des produits de la même catégorie que le produit visionné sont présentés au client.<br>
        </p>
        <img src="img/produit.png"><br><br>

        <p>
            <u><strong>La page panier :</strong></u><br>
            Un client peut ajouter des articles à son panier.<br>
            Une fois dans le panier, il peut en modifier la quantité. Le prix de la commande se met alors à jour<br>
        </p>
        <img src="img/panier.png"><br><br>

        <p>
            <u><strong>La page des commandes :</strong></u><br>
            La page des commandes contient les différentes informations ci-dessous (pour l'administrateur) :<br>
        </p>
        <img src="img/commandes.png"><br><br>

        <p>
            <u><strong>La page profil :</strong></u><br>
            Le client a la possibilité de modifier les informations de son compte, ainsi que ses adresses.<br>
        </p>
        <img src="img/profil.png"><br><br>

        <p>
            <u><strong>La page "modifier catalogue" :</strong></u><br>
            Différentes options s'offrent à l'admin :<br>
        </p>
        <img src="img/admin_catalogue.png"><br><br>

        <p>
            <u><strong>La page "ajouter produit" :</strong></u><br>
            S'il décide d'ajouter un produit :.<br>
        </p>
        <img src="img/add_produit.png"><br><br>

        <p>
            <u><strong>La page "modifier produit" :</strong></u><br>
            S'il décide de modifier un produit :.<br>
        </p>
        <img src="img/modifier_produit.png"><br><br>

        <p>
        <h2 id="ppe3">Projet Personnel Encadré n°3 :</h2>
        Le PPE 3 consiste à refaire le site du PPE 2 avec le Framework Symfony 4.<br><br>

        <u><strong>Le framework Symfony 4 :</strong></u><br>
        Nous avons appris à mettre à jour le code d'une version avec des technologies plus anciennes (PPE2)<br>
        vers une version avec des technologies plus récentes (PPE3).<br><br>
        NUtiliser ce Framework qui nous a permis de mieux organiser notre code, et donc de réaliser<br>
        un projet organisé et structuré, notamment grâce à l'architecture MVC :<br><br>
        <img src="img/mvc.jpg"><br><br>

        Pour la partie "Modèle", nous avons appris à nous servir de Doctrine.<br>
        Doctrine est un ORM, pour object-relational mapping, soit mapping objet-relationnel en français.<br>
        Un ORM est en quelque sorte une interface entre la base de données et nous.<br> Il s'agit
        d'un ensemble de classes (ou bibliotèques) qui fonctionnent de manière indépendante.<br>
        Le but est de nous permettre d'accéder au contenu de la base de données avec un langage orienté objet.<br>
        Pour ce faire, nous avons codé les différentes entités nécessaires. <br>
        Une entité, ce que l'ORM va manipuler et enregistrer dans la base de données, n'est rien d'autre qu'un simple objet<br>
        La connexion à la base de données se fait donc différemment que pour le PPE2.<br><br>

        En ce qui concerne la partie "Vue", nous avons un dossier contenant les templates (ou vues) de chaque page du site.<br>
        Leur objectif est de séparer le code HTML du code PHP. Ainsi, lorsque vous faites du PHP,<br>
        vous n'avez pas 100 balises HTML qui gênent la lecture de votre code PHP.<br>
        Les templates ont tout de même besoin de code dynamique. Le moteur de templates Twig intervient.<br>
        Chaque page contient du code html organisé en "Block" (ex : block stylesheets).<br><br>

        Pour finir, nous allons parler des "Contrôleurs". Son rôle est de renvoyer une réponse, de gérer les traitements.<br>
        Le contrôleur écoute une "route" (ex : monsite/accueil), analyse la requête HTTP que le navigateur a envoyé à la route,<br>
        fabrique une réponse HTTP et la renvoie au navigateur afin qu'il y ait un affichage, une redirection...<br><br>

        <u><strong>La partie administration :</strong></u><br>
        Nous nous sommes servi du bundle EasyAdmin pour tout ce qui concerne la partie "administration".<br><br>

        <p>
            <u><strong>Exemple : EasyAdmin - Client :</strong></u><br>
        </p>
        <img src="img/Easy_admin_client.png"><br><br>

        <p>
        <h2 id="ppe4csharp">Projet Personnel Encadré n°4 :</h2>
        <u><strong>Contexte :</strong></u> La M2E a décidé de vous confier de nouvelles missions qui ont pour objectif <br>
        d'être le prolongement du site de vente en ligne développé avec le Framework Symfony.<br><br>
        Les nouvelles missions sont les suivantes :<br><br>

        - Mission n°1 : Développer une application <u><strong>"Client lourd"</strong></u> en langage C# pour la gestion commerciale.<br>
        Cette application sera déployée sur les PC de l'équipe commerciale. Les fonctionnalités attendues<br>
        sont la consultation et le CRUD des clients / produits / commandes (la back office en quelque sorte).<br><br>
        <p>
            Lorsque l'application est exécutée, la connexion à la base de données est établie.
        </p>
        <img src="img/Bdd_open.png" style="width:260px;"><br><br>
        <p>
            L'onglet "Client" contient les différents clients répertoriés dans la base de données ainsi que leurs adresses.<br>
            Lorsqu'on clique sur un client, les adresses qui lui sont associées s'affichent dans le composant en-dessous.<br>
        </p>
        <img src="img/Client.png" style="width:650px;"><br><br>
        <p>
            Lorsqu'on clique sur "Ajouter", que ce soit pour un client ou pour une adresse, des formulaires apparaissent.<br>
            Il est alors possible de saisir les informations du nouveau client ou de la nouvelle adresse.<br>
        </p>
        <img src="img/Client&Adresse_nv.png" style="width:650px;"><br>
        <p>
            Lorsqu'on clique sur "Modifier", que ce soit pour un client ou pour une adresse, des formulaires apparaissent.<br>
            Il est alors possible de saisir les modifications à apporter.<br>
        </p>
        <div class="row" style="text-align: center; margin-left: 110px;">
            <div class="col-sm-5 m-1">
                <img src="img/Client_modifier.png" style="width:280px;"><br>
            </div>
            <div class="col-sm-5 m-1">
            <img src="img/Adresse_modifier.png" style="width:280px;"><br>
            </div>
        </div>
        <p>
            Lorsqu'on clique sur "Désactiver", le client n'est plus "actif". Cependant, il n'est pas supprimé <br>
            de la base de données car il a des commandes, or ces dernières doivent être conservées.<br>
        </p>
        <img src="img/inactif.png" style="width:550px;"><br><br>
        <p>
            L'onglet "Commandes" contient les différentes commandes répertoriées dans la base de données ainsi que leurs contenus.<br>
            Lorsqu'on clique sur une commande, les contenus qui lui sont associés s'affichent dans le composant en-dessous.<br>
        </p>
        <img src="img/Commande.png" style="width:650px;"><br><br>
        <p>
            Lorsqu'on clique sur "Modifier", un formulaire pour changer le statut de la commande apparaît.<br>
        </p>
        <img src="img/Modifier_statut_cmd.png" style="width:300px;"><br><br>
        <p>
            L'onglet "Produits" contient les différents produits répertoriés dans la base de données.<br>
        </p>
        <img src="img/Produitcsharp.png" style="width:650px;"><br><br>
        <p>
            Lorsqu'on clique sur "Ajouter", un formulaire apparaît.<br>
            Il est alors possible de saisir les informations du nouveau produit.<br>
        </p>
        <img src="img/Produit_nv.png" style="width:650px;"><br>
        <p>
            Lorsqu'on clique sur "Modifier", un formulaire pour changer les infos du produit apparaît.<br>
        </p>
        <img src="img/Produit_modifier.png" style="width:300px;"><br><br>
        <p>
            Lorsqu'on quitte l'application, la connexion à la base de données est fermée.
        </p>
        <img src="img/Bdd_closed.png" style="width:260px;"><br><br>

        - Mission n°2 : Mettre en œuvre une étude comparative et une veille technologique sur les<br>
        technologies REST et SOAP.<br><br>
        <p><a href="doc/rest_soap.pdf">Télécharger le fichier sur REST et SOAP</a></p><br>

        Missions liées au développement d'une application mobile :<br><br>

        - Mission n°3 : Consultation du catalogue (liste des produits par catégorie, fiche individuelle descriptive <br>
        d'un produit sélectionné.<br><br>

        - Mission n°4 : Consultation des informations de compte du client, dont la consultation sous forme de<br>
        liste de ses commandes, puis consultation d'une fiche de détail de chaque commande.<br><br>

        - Mission n°5 : Outil d'inventaire = un appareil mobile est utilisé en tant que lecteur de code-barres et <br>
        QR Code ➔ un écran de saisie d'une application (windev mobile fortement conseillé) scan le code<br>
        et il suffit de saisir au clavier une quantité de produits. L'enregistrement met à jour via web service la<br>
        base de données du site de vente en ligne.<br><br>

        <p>
        <h2 id="kawaii">Premier stage en milieu professionnel - Kawaii :</h2>
        Stage à la librairie Kawaii située en centre-ville de Perpignan, spécialisée dans <br>
        la vente de mangas, comics et produits dérivés. Le gérant souhaite un site de vente <br>
        de mangas en ligne pour pouvoir vendre ses produits dans toute la France et augmenter sa notoriété.<br><br>
        <u><strong>La page d'accueil :</strong></u><br>
        </p>
        <img src="img/kawaii_accueil.png"><br><br>

        <p>
            <u><strong>Inscription</strong></u><br>
        </p>
        <img src="img/kawaii_inscription.png"><br><br>

        <p>
            <u><strong>Connexion</strong></u><br>
        </p>
        <img src="img/kawaii_connexion.png" style="width: 350px;"><br><br>

        <p>
        <u><strong>Les différentes catégories de produits :</strong></u><br>
        </p>
        <img src="img/kawaii_cat.png" style="width: 350px;"><br><br>

        <p>
            <u><strong>Le catalogue (tous produits confondus) :</strong></u><br>
        </p>
        <img src="img/kawaii_catalogue.png"><br><br>

        <p>
            <u><strong>La fiche produit :</strong></u><br>
        </p>
        <img src="img/kawaii_produit.png"><br><br>

        <p>
            <u><strong>Le panier</strong></u><br>
        </p>
        <img src="img/kawaii_panier.png"><br><br>

        <p>
            <u><strong>Commander</strong></u><br>
        </p>
        <img src="img/kawaii_commander.png"><br><br>

        <p>
            <u><strong>Intégration de Paypal</strong></u><br>
        </p>
        <img src="img/kawaii_paypal.png" style="width: 350px;"><br><br>

        <p>
            <u><strong>Commandes en cours</strong></u><br>
        </p>
        <img src="img/kawaii_cmd_en_cours1.png"><br><br>

        <p>
            <u><strong>Détail d'une commande en cours</strong></u><br>
        </p>
        <img src="img/kawaii_cmd_en_cours2.png"><br><br>

        <p>
            <u><strong>Edition du profil</strong></u><br>
        </p>
        <img src="img/kawaii_edit_profil.png"><br><br>

        <p>
        <h2 id="pyrescom">Second stage en milieu professionnel - Pyrescom :</h2><br>
        <img src="img/logo_pyrescom.png" style="width: 350px;"><br><br>
        Stage en milieu professionnel dans l'entreprise Pyrescom située à Canohès. <br>
        Travail sur l'application interne Gestint de gestion des tournées des techniciens, des clients, <br>
        du matériel et des prestations.<br><br>
        <p><a href="doc/at_gestint.docx">Télécharger l'analyse technique</a></p>
        <p><a href="doc/eb_gestint.docx">Télécharger l'étude de besoin</a></p>
        <p><a href="doc/doc_utilisateur_gestint.docx">Télécharger la documentation utilisateur</a></p><br>

    </div>

{% endblock %}