{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}

    <h1><u>Epreuve E4 : Conception et maintenance de solutions informatiques</u></h1><br>

    <div class="container">
        <p>
            <h2 id="">Solution 1 - Client lourd C# :</h2><br>
            <p><a href="doc/doc_utilisateur_client_lourd.pdf">Télécharger la documentation utilisateur</a></p>
            <p><a href="doc/ppe3.sql">Télécharger la base de données</a></p>
            <p><a href="doc/Diagramme_classes_client_lourd.PNG">Télécharger le diagramme de classes</a></p>
            <p><a href="doc/Solution1_code.zip">Télécharger le code du projet</a></p>
            <p><a href="doc/Solution1_client_lourd.zip">Télécharger l'application</a></p>
            <p><a href="doc/Formulaire_solution1.pdf">Télécharger le formulaire de description de la situation</a></p>
        </p>

        <p>
            <h2 id="">Solution 2 - Application mobile Windev :</h2><br>
            <!-- <p><a href="doc/doc_utilisateur_appli_mobile.pdf">Télécharger la documentation utilisateur</a></p>-->
            <p><a href="doc/ppe3.sql">Télécharger la base de données</a></p>
            <p><a href="doc/Diagramme_classes_appli_mobile.PNG">Télécharger le diagramme de classes</a></p>
            <p><a href="doc/Solution2_code.zip">Télécharger le code du projet</a></p>
            <!--<p><a href="doc/Solution2_appli_mobile.zip">Télécharger l'application</a></p>-->
            <p><a href="doc/Formulaire_solution2.pdf">Télécharger le formulaire de description de la situation</a></p>
    </p>
</div>

{% endblock %}