{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}


{% block body %}
    <div>
        <div class="container">
            <h2>Bonjour et bienvenue sur mon Portfolio</h2>

            <p style="font-size:21px;margin-top:21px;">
                Je m'appelle Pauline Delhaye, je suis étudiante en BTS SIO (Services Informatiques aux Organisations)&nbsp;<br>
                spécialité SLAM (Solution Logicielles et Applications Métiers) au lycée Jean Lurçat de Perpignan.&nbsp;<br><br>
                Vous trouverez sur ce site les différents projets qui constituent mon parcours professionnel. &nbsp;
            </p><br>

            <img src="doc/cv.png" style="width:650px; text-align: center;"><br>
            <p><a href="doc/CV_Pauline_Delhaye.pdf">Télécharger mon CV</a></p>

            <h3>Ressources :</h3>
            <u><strong>Diagramme de classes client lourd :</strong></u><br>
            <img src="doc/Diagramme_classes_client_lourd.png" style="width: 350px;">
            <p><a href="doc/Diagramme_classes_client_lourd.png">Télécharger</a></p><br>

            <u><strong>Diagramme de classes application mobile :</strong></u><br>
            <img src="doc/Diagramme_classes_appli_mobile.png" style="width: 350px;">
            <p><a href="doc/Diagramme_classes_appli_mobile.png">Télécharger</a></p><br>

            <u><strong>Schéma IHM Clients - Client lourd C#</strong></u><br>
            <img src="doc/Schéma IHM Clients.jpg" style="width: 350px;">
            <p><a href="doc/Schéma IHM Clients.jpg">Télécharger</a></p><br>

            <u><strong>Schéma IHM Commandes - Client lourd C#</strong></u><br>
            <img src="doc/Schéma IHM Commandes.jpg" style="width: 350px;">
            <p><a href="doc/Schéma IHM Commandes.jpg">Télécharger</a></p><br>

            <u><strong>Schéma IHM Produits - Client lourd C#</strong></u><br>
            <img src="doc/Schéma IHM Produits.jpg" style="width: 350px;">
            <p><a href="doc/Schéma IHM Produits.jpg">Télécharger</a></p><br>

            <iframe src="//www.pearltrees.com/pauline_dlh?embed=2&d=201904011127" width="853" height="604" style="border:0px;" allowtransparency="true"></iframe><span style="display:block; padding-top:2px; color:#818181; font-size:13px;"><a href="http://www.pearltrees.com/pauline_dlh" style=" color:#818181; font-size:13px;" target="_blank">Pauline_dlh</a></span>



        </div>
    </div>

{% endblock %}