{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <h2>Bonjour et bienvenue dans mon Portfolio</h2>

            <p style="font-size:21px;margin-top:21px;">
                Je m'appelle Pauline Delhaye, je suis étudiante en BTS SIO (Services Informatiques aux Organisations)&nbsp;<br>
                spécialité SLAM (Solution Logicielles et Applications Métiers) au lycée Jean Lurçat de Perpignan&nbsp;<br><br>
                Vous trouverez sur ce site les différents projets qui constituent mon parcours professionnel. &nbsp;
            </p>
        </div>
    </div>

{% endblock %}