{% extends 'base.html.twig' %}

{% block body %}

    <h1>PPE 3 - Site de vente Symfony</h1>

    <p>
        Voici le lien vers mon site de vente Symfony :
        <a href="http://ppe3.paulinedlh.fr"> PPE3</a>
    </p>

{% endblock %}