{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}

    <h1><u>Mes différents projets :</u></h1><br/>

    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-sm-3 m-1" style="">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/accueil_ppe3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PPE 3 - Site de vente Symfony</h5>
                        <p class="card-text">Site de vente en ligne de produits dérivés (vêtements, figurines, bijoux...).</p>
                        <a href="http://ppe3.paulinedlh.fr" class="btn btn-primary" target="_blank">Aller sur le site PPE 3</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-1">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/csharp.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PPE 4 - Client lourd C#</h5><br>
                        <p class="card-text">Site de vente en ligne de produits dérivés (vêtements, figurines, bijoux...).</p>
                        <a href="ppe4CSharp" class="btn btn-primary" target="_blank">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-1">
                <div class="card articleElm">
                    <img class="d-block w-100" src="img/logoPoulpe.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PPE 4 - Application mobile Java</h5>
                        <p class="card-text">Site de vente en ligne de produits dérivés (vêtements, figurines, bijoux...).</p>
                        <a href="ppe4Java" class="btn btn-primary" target="_blank">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}