{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}

    <h1>Mes différents projets :</h1>

    <p>PPE 4 Client C#, PPE 4 App mobile</p>

    <div class="card articleElm" style="width: 18rem;">
        <img class="d-block w-100" src="img/accueil_ppe3.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">PPE 3 - Site de vente Symfony</h5>
            <p class="card-text">Site de vente en ligne de produits dérivés (vêtements, figurines, bijoux...).</p>
            <a href="http://ppe3.paulinedlh.fr" class="btn btn-primary" target="_blank">Aller sur le site PPE 3</a>
        </div>
    </div>

{% endblock %}